<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-title>Incoming Batches: </ion-title>
  </ion-item>
  <ion-row nowrap class="scroll">
    <ion-col size=12 size-lg=2 size-md=4 size-sm=6 size-xs=12 *ngFor="let batch of notAllocatedBatches">
      <ion-card>
        <ion-img src={{batch.img}}></ion-img>
        <ion-card-title padding>
          {{batch.batchDate | date:'dd/MM/yyyy HH:mm'}}
        </ion-card-title>
        <ion-card-content>
          <ion-item>ID: {{batch.batchID}}</ion-item>
          <ion-item *ngIf="batch.crop.owner != undefined">Farmer: {{batch.crop.owner}}</ion-item>
          <ion-item>Bultos: {{batch.bultos}}</ion-item>

          <ion-button padding margin id="moveBtn" (click)="openSelect(batch)">Move</ion-button>

          <ion-item hidden>
            <ion-select #roomSelect (ionChange)="onStorageSelected()">
              <ion-label>Select Room</ion-label>
              <ion-select-option *ngFor="let storage of storages">{{storage}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>

  <div *ngFor="let stor of storages">
    <ion-item *ngIf="stor">
      <ion-title>{{stor}}</ion-title>
    </ion-item>
    <ion-row nowrap class="scroll" *ngIf="stor">

      <ion-col size=12 size-lg=2 size-md=4 size-sm=6 size-xs=12 *ngFor="let batch of filterBatches(stor)">

        <ion-card>
          <ion-img src={{batch.img}}></ion-img>
          <ion-card-title padding>
            {{batch.batchDate | date:'dd/MM/yyyy HH:mm'}}
          </ion-card-title>
          <ion-card-content>
            <ion-item>ID: <b> {{batch.batchID}} </b></ion-item>
            <ion-item> Farmer: {{batch.crop.owner}}</ion-item>
            <ion-item> Bultos: {{batch.bultos}}</ion-item>
            <ion-item> Amount: {{batch.weight}}Kg</ion-item>

            <ion-item hidden>
              <ion-select #roomSelect (ionChange)="onStorageSelected()">
                <ion-label>Select Room</ion-label>
                <ion-select-option *ngFor="let storage of storages">{{storage}}</ion-select-option>
                <ion-button>Hit Me!</ion-button>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>