<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-title>Incoming Shipments: </ion-title>
  </ion-item>

  <ion-row nowrap class="scroll">
    <ion-col size=12 size-lg=2 size-md=4 size-sm=6 size-xs=11 *ngFor="let shipment of shipments">
      <ion-card>
        <ion-card-title padding>
          {{shipment.shipmentID}}
        </ion-card-title>
        <ion-card-content>

          <ion-item-group>
            <ion-label color="primary">Shipped Date:</ion-label>
            <ion-label>{{shipment.shippedDate | date:'dd/MM/yyyy HH:mm'}}</ion-label>
          </ion-item-group>

          <ion-item-group>
            <ion-label color="primary">Supplier:</ion-label>
            <ion-label>{{shipment.seller}}</ion-label>
          </ion-item-group>
          <ion-button padding margin id="moveBtn" (click)="shipmentArrived(shipment)">Arrived</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-title>Allocate Packets: </ion-title>
    <ion-button (click)="allocatePackets()">Allocate</ion-button>
  </ion-item>

  <ion-row nowrap class="scroll">
    <ion-col size=12 size-lg=2 size-md=4 size-sm=6 size-xs=11 *ngFor="let packet of notAllocatedPackets;let i = index;">
      <ion-card>
        <ion-card-title padding>
          {{packet.packetID}}
        </ion-card-title>
        <ion-card-content>

          <ion-item-group>
            <ion-label color="primary">Expire Date:</ion-label>
            <ion-label>{{packet.expireDate | date:'dd/MM/yyyy HH:mm'}}</ion-label>
          </ion-item-group>

          <ion-item-group>
            <ion-label color="primary">Size:</ion-label>
            <ion-label>{{packet.size}}</ion-label>
          </ion-item-group>

          <ion-item-group>
            <ion-label color="primary">Orgnaic:</ion-label>
            <ion-label>{{packet.organic?'Yes':'No'}}</ion-label>
          </ion-item-group>

          <ion-item-group>
            <ion-label color="primary">Store:</ion-label>
            <ion-select placeholder="Select Store" interface="popover"
              [(ngModel)]="notAllocatedPackets[i].finalLocation" (ionChange)="allocatePacket(packet);">
              <ion-select-option *ngFor="let location of locations">{{location}}</ion-select-option>
            </ion-select>
          </ion-item-group>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <div *ngFor="let store of locations">
    <ion-item *ngIf="store">
      <ion-title>{{store}}</ion-title>
    </ion-item>
    <ion-row nowrap class="scroll" *ngIf="store">
      <ion-col size=12 size-lg=2 size-md=4 size-sm=6 size-xs=12 *ngFor="let packet of filterPackets(store)">
        <ion-card>
          <ion-img src={{packet.img}}></ion-img>
          <ion-card-title padding>
            {{packet.packetID}}
          </ion-card-title>
          <ion-card-content>
            <ion-item-group>
              <ion-label color="primary">Expire Date:</ion-label>
              <ion-label>{{packet.expireDate | date:'dd/MM/yyyy HH:mm'}}</ion-label>
            </ion-item-group>
            <ion-item-group>
              <ion-label color="primary">Size:</ion-label>
              <ion-label>{{packet.size}}</ion-label>
            </ion-item-group>
            <ion-item-group>
              <ion-label color="primary">Orgnaic:</ion-label>
              <ion-label>{{packet.organic?'Yes':'No'}}</ion-label>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>